/*estilos generales*/
*{
    box-sizing: 0;
}

header{
width: auto;
height: 100px;

}
h2{
    font-family: 'Croissant One', cursive;
}
p{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
}



.seccion-oscura{
    color: rgb(244, 199, 18);
    background-color: #020210;
    
    
}
.seccion-clara{
    color: rgb(244, 199, 18);
    background-color: #ffffff;
}



    


/* barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: #ffffff;
    }
    
    
.navbar-collapse{
    align-items: center;  
    justify-content: space-between;
    
    
}

.eslogan {
    font-family: 'Croissant One', cursive;
    font-size: 40px; 
    padding-left: 30px;
    border-left: solid rgb(181, 174, 174) 2px;
    color: rgb(199, 38, 38);
}

.div-a-ul{
    justify-content: left;
    align-items: center;
    margin-left: 20px;
}
.navbar a{
    
    transition: all 0,2s ease-in-out;
    border-radius: 5px;
    

}
.navbar li a:hover{
    
    color: rgb(8, 8, 8);
    border: solid 1px gray;
    box-shadow: 1px 1px 1px 1px inset gray;
    background-color:rgba(128, 128, 128, 0.349) ; 
    

}
/*slider portada*/
.carousel-inner .carousel-item{
    background: rgba(255, 255, 0, 0.405);
    background:url(../img-modelo-p/verano.png),linear-gradient(to right,rgba(19, 97, 206, 0.527), rgba(205, 193, 28, 0.537));

    background:url(../img-modelo-p/verano.png),-webkit-linear-gradient(to right,rgba(19, 97, 206, 0.458), rgba(205, 193, 28, 0.44));
    
}
.carousel-inner img{
    width: 300px;
    height: 500px;
    object-fit: cover;
    
}

/*titulos slide*/
.slide-titulo-1{
    font-family: 'Croissant One', cursive;
    font-size: 60px;
    color:rgba(9, 80, 244, 0.885);
    
}
.slide-titulo-2{
    font-family: 'Croissant One', cursive;
    font-size: 60px;
    color:rgb(234, 156, 11);
    
}
.slide-titulo-3{
    font-family: 'Croissant One', cursive;
    font-size: 60px;
    color:rgba(234, 20, 9, 0.994);
    
}

/*wave*/
.wave{
    
    position: relative;
    bottom: 90px;
}

/*seccion nosotros*/

.sec-1{
    height:700px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    align-items: center;
    
}
.sec-1 img{
    width: 300px;
    border-radius: 5%;
}
.description{
    text-align: center;
    align-items: center;

    width: 500px;
    padding: 20px;
    border-top:solid 1px white;
    border-bottom:solid 1px white;
    
    
}

/*seccion-clara*/


.sec-2{
    
    height:700px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    align-items: center;
    margin-top: 40px;   
    
}


.sec-2 .texto{
    width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


/*catalogo*/
.catalogo{
    display: flex;
    width: 700px;
    height: 430px;
    margin-bottom: 50px;
    
    
    
}
.catalogo div{
    width: 0px;
    height: 430px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
}
.catalogo img{
    width: 0px;
    height: 430px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}

.catalogo img:hover{
    cursor: crosshair;
    width: 300px;
    object-fit:cover;
    opacity: 1;
    filter: contrast(120%);
    
   
    
}
.catalogo .container-2:hover{
    cursor: crosshair;
    width: 300px;
    height:500px;
    opacity: 1;   

    
}

.container-2{
    position: relative;
    display: flex;    
    justify-content: center;
    

}
.tex-img{
    color: #070707;
    position: absolute;
    transform: translate(-50%, );
    padding: 90%;
    font-size: 1rem;
    font-family: 'Croissant One', cursive;
}
.catalogo .tex-img:hover{
    cursor: crosshair;    
    color: red;
    font-size: 2rem;
    filter: contrast(120%);
}

.texto p{
    color: #070707;

}

/*sec-3 nueva coleccion*/

.sec-3{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    
    
}

.sec-3 p{
    color: rgb(244, 199, 18);
    width: 400px;
    
    
   
    
}

.sec-3 .texto{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.img-sec-3 div{
    width: 700px;
    height: 600px;
    
    margin: 30px;
}
.img-sec-3 img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    position: absolute;
    transition: all .2s ease-in;
    
    
}
.img-sec-3 div:hover img{
    object-fit: cover;
    width: 400px;
    height: 600px;
    height: auto;
    position: relative;
    transition: all .2s ease-in;
    
}
.img-sec-3 div p{
    width: 400px;
    height: 601px;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    
    
    color:#020210
    
}
.img-sec-3 div .p1{
    margin-top: 120px;
    
}
.img-sec-3 div:hover p{
    width: 400px;
    height: 601px;
    font-size: 5rem;    
    color: #5454de;
    
}

/*comentarios*/
.d-flex-colum{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
.container-3{
    display: flex;
   flex-direction: row;
   flex-flow: wrap row;
   justify-content: space-evenly;
   align-items:baseline;
}
.container-4{
    display: flex;
   flex-direction: row;
   flex-flow: wrap row;
   justify-content: space-evenly;
   align-items:baseline;
}
.comentario{
    display: flex;    
    flex-wrap:row;
    flex-direction: center;       
    width: 300px;
    height: 200px;
    box-sizing:content-box;
    margin: 10px;
    padding: auto;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-bottom-right-radius:5% ;


}


.comentario img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px rgb(255, 242, 0);
    object-fit: cover;
    margin: 10px;
    
    
}
.texto-comentario{
    width: 200px;
    height: 100px;
    
}

/*comentar*/



.form{
    width: 600px;
    margin-top: 40px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.nombre, .email{
    width: 150px;
    margin: 10px;
}
.name-email{
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    justify-content: space-between;
}

/*formulario de registro*/
.d--flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.form-1{
    width: 400px;
    background-color: #aeaeae;
    padding: 20px 10px 10px 10px;
    margin-top:80px;
    margin-bottom: 40px;
    
    border-radius: 2%;
}
.form-1:hover{
    border: solid rgb(255, 162, 0) 4px;
    background-color: #5454de64;
    color: black;
}

.form-ini label, input{
    width: 180px;
    margin-left: 10px;
    margin: 10px;
    color: #000000;
}
.tex-form-ini{
    width: 400px;
    height: 300px;
    border: solid 1px rgba(128, 128, 128, 0.612);
}
legend{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2px;
    text-align: center;
    
    
}
.enviar{
    color: #000000;
    border: rgb(247, 163, 8);
    text-align: center;
    border-radius: 5%;
    margin-left:170px;
}
.tex-form-ini{
    border:solid 2px  rgba(128, 128, 128, 0.612);
}
.tex-form-ini:hover{
    border: solid rgba(255, 162, 0, 0.513) 4px;
    background-color: #5454de64;
    color: black;
}

/* footer*/
footer{
    height: 600px;
    padding-top: 20px;
   
 }
 .footer-logo{
    width: 200px;
    height: 200px;
    color: #aeaeae;
    border-radius: 50%;
    
    object-fit: cover;

    
 }
.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
    
}


/*ubicacion*/

footer .ubicacion{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-bottom: 30px;
    border: solid white 2px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
footer .ubicacion i{
    color: rgb(249, 7, 7);
    font-size: 2rem;
    transition: all 0.2s ease-in;
 }
 footer .ubicacion:hover{
    background-color:white;
    border: solid rgb(249, 204, 4) 2px;
     transition: all 0.2s ease-in;
     
 }
  .ubicacion:hover i{
    color:rgb(248, 3, 3);    
    transition: all 0.2s ease-in;
    font-size: 2.5rem;
 } 
.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 10px;
    border: solid white 2px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
/*redes sociales*/
.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
     transition: all 0.2s ease-in;
 }
 .iconos-redes-sociales a:hover{
    background-color:white;
    border: solid rgb(217, 25, 25) 2px;
     transition: all 0.2s ease-in;
 }
  a:hover i{
    color:rgb(8, 8, 8);
    
     transition: all 0.2s ease-in;
 } 

.derechos-autor{
    font-size: 1.5 rem;
    color: #aeaeae;
    padding: 20px;

}
/*formulario registro*/
    

    
/*barra de nav logo responsivo se oculta en md*/
@media screen and (max-width: 767px) {    
    .navbar-brand{
        display: none;
    }
    
}
/*hero-inferior-imagen responsivo se oculta en md*/
@media screen and (max-width: 700px) {    
    .hero-inferior-imagen{
        min-width: 600px;
    }
    
}
   
   


