.fondo {
    
    background-color: rgb(0, 0, 0);
}

.header1{
    
    min-width: 400px;
    height: 95px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    
    z-index: 1000;
}

.categoria {
   
    font-family: "Cinzel", serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    
    
}

.container {
    
    background-color: rgb(242, 235, 242);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3px;
   
}

.producto {
    width: 250px;
    height:600px;
    margin: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
}

.imagen {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagen .secundaria {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.imagen:hover .secundaria {
    opacity: 1;
}

.producto h2 {
    font-family: "Cinzel", serif;
    font-size: 20px;
    margin-top: 10px;
    color: rgb(164, 26, 26);
}

.producto p {
    font-family: 'Fauna One', sans-serif;
    font-size: 16px;
    color: rgb(102, 102, 102);
}

#precio {
    color: rgb(0, 0, 0);
}

.producto {
    position: relative;
}

.botones-compra {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.button1 {    
    width: 200px;
    background-color: rgb(255, 0, 119);
    color: rgb(3, 1, 1);    
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button {  
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 2px;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(164, 246, 158);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    font-family: 'Montserrat';
    display: inline-block;
    margin: 0 20px 20px 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    color: rgb(255, 0, 119);
    background-color: rgb(0, 0, 0);
}

.imagen {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto; /* Cambiado a auto para permitir que las imágenes se ajusten al ancho del contenedor */
    max-height: 400px; /* Establece una altura máxima para las imágenes */
}

.imagen img {
    width: 100%;
    height: 100%; /* Cambiado a 100% para ocupar todo el espacio disponible en altura */
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .producto {
        width: calc(50% - 40px);
    }
}

@media only screen and (max-width: 480px) {
    .producto {
        width: calc(100% - 40px);
    }
}
